/*四个角*/
.i-common-top {
    position: absolute;
    top: 10%;
    width: 212px;
    height: 223px;
}
.i-common-bottom {
    position: absolute;
    bottom: 2%;
    width: 233px;
    height: 230px;
}
.i-top-left {
    background: url(../img/top_left.png) no-repeat center center;
    left: 22px;
}
.i-top-right {
    background: url(../img/top_right.png) no-repeat center center;
    right: 22px;
}
.i-left-bottom {
    background: url(../img/left_bottom.png) no-repeat center center;
    left: 10px;
}
.i-right-bottom {
    background: url(../img/right_bottom.png) no-repeat center center;
    right: 10px;
}
.container-bgcolor{
	padding:10px 0;
	position: absolute;
    background: rgba(7,42,74,.9);
    width: 94%;
    height: 78%;
    left: 50px;
    right: auto;
    top: 14%;
    bottom: auto;
}

.container-zhzt-color{
    padding:10px 0;
    position: absolute;
    background: rgba(7,42,74,.9);
    width: 100%;
    height: 100%;
}
