html, body {
    font-size: 13px;
    padding: 0;
    margin: 0;
    border: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: rgba(3, 23, 43, 1);
}

.container-zhzt-color {
    padding: 10px 0;
    position: absolute;
    background: rgba(7, 42, 74, .9);
    width: 100%;
    height: 100%;
}

.container-zhzt-color {
    padding: 10px 0;
    position: absolute;
    background: rgba(7, 42, 74, .9);
    width: 100%;
    height: 100%;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
    height: 100%;
}

.sub-nav-left {
    height: 100%;
    width: 100%;
    background: #062745;
    overflow: hidden;
}

.middle {
    height: 100%;
    width: 100%;
    background: #011f39;
    overflow: hidden;
}

.sub-li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.sub-li li.ahover {
    background: #da7e0b;
    display: block;
    color: #fff;
}

.sub-li li:hover {
    background: #825a24;
}

.sub-li li p {
    color: #fff;
    cursor: pointer;
    display: block;
    margin-bottom: 0;
}

.sub-li li {
    text-align: center;
    font-size: 14px;
    line-height: 50px;
    border-bottom: 1px solid #1b364d;
}

.menu_list {
    height: 100%;
    width: 100%;
    background: #011f39;
    overflow: hidden;
}

.menu_list ul li .fuMenu {
    color: #F2F2F2;
    font-size: 14px;
    cursor: pointer;
    height: 50px;
    line-height: 50px;
    text-align: center;
    width: 100%;
    margin-bottom: 0;
    border-bottom: 1px solid #1b364d;
    float: left;
}