body {
    margin: 0;
    padding: 0;
    font-size: 13px;
    border: 0;
    width: 100%;
    background: rgba(3,23,43,1);
}

.content {
    width: 800px;
    position: absolute;
    top: 25%;
    left: 25%;
}

.content-left {
    float: left;
    width: 55%;
    height: 100%;
}

.copyright {
    color: #ffffff;
    font-size: 14px;
    margin-bottom: 10px;
    float: right;
}

.copyright-logo {
    float: left;
    height: 20px;
}

.copyright-text {
    margin-left: 10px;
    color: #fff;
    font-size: 15px;
}

.system-style {
    color: #ffffff;
    text-align: center;
    margin-bottom: 20px;
}

.system-text {
    font-size: 20px;
    font-weight: 500;
    background: #42b0e4;
    width: 70%;
    margin: 0 auto;
    padding: 10px 0;
    box-shadow: 10px 10px 5px #888888;
}

.area-text {
    color: #ffffff;
    font-size: 16px;
    text-indent: 90px;
    margin-bottom: 10px;
    font-weight: 600;
    margin-top: 35%;
}

.content-right {
    float: right;
    width: 40%;
    margin: 20px;
}

.username {
    border: 1px #bababa solid;
    margin-bottom: 25px;
    height: 40px;
}

.username-img {
    float: left;
    padding: 4px 0;
}

.username-input {
    height: 40px;
    line-height: 40px;
    outline: medium;
    border: 0;
    padding: 0;
    margin: 0;
    width: 87%;
    text-indent: 10px;
}

.pwd {
    border: 1px #bababa solid;
    margin-bottom: 25px;
    height: 40px;
}

.pwd-img {
    float: left;
    padding: 4px 0;
}

.pwd-input {
    height: 40px;
    line-height: 40px;
    outline: medium;
    border: 0;
    padding: 0;
    margin: 0;
    width: 87%;
    text-indent: 10px;
}

.login {
    background: #ffffff;
    padding: 50px 20px;
}

.login-btn {
    border: 0;
    margin: 0;
    padding: 0;
    height: 40px;
    width: 100%;
    outline: medium;
    border-radius: 4px;
    background: #38d0f3;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset;
}
