/*左侧导航*/
.content-box{
    position: absolute;
    width: 96%;
    height: 78%;
    left: 50px;
    right: auto;
    top: 14%;
    bottom: auto;
}
.main-box{
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.sub-nav-left{
    height: 100%;
    width: 100%;
    background: #062745;
    overflow: hidden;
}

.sub-li li{
    text-align: center;
    font-size:14px;
    line-height: 50px;
    border-bottom: 1px solid #1b364d;
}
.sub-li li:hover{
    background: #825a24;
}
.sub-li li a{
    color:#fff;
    cursor: pointer;
    display: block;
}
.sub-li li.ahover{
    background: #da7e0b;
    display: block;
    color: #fff;
}

.middle{
    height: 100%;
    width: 100%;
    background: #011f39;
    overflow: hidden;
}
.middle .leftMenu{
}
.middle .leftMenu .topMenu{
    height: 42px;
    background-color: #0065a5;
}
.middle .leftMenu .topMenu img{
    margin: 11px;
    float: left;
}
.middle .leftMenu .topMenu .changeMenu{
    cursor: pointer;
}
.middle .leftMenu .topMenu .banshi{
    padding-left: 23px;
}
.middle .leftMenu .topMenu .menuTitle{
    text-align: center;
    color: #F2F2F2;
    float: left;
    line-height: 42px;
    font-size: 16px;

}
.menu_list {
    width: 100%;
}
.menu_list ul li{
    display: block;
    text-align: center;
    width: 100%;
}
.menu_list ul li .fuMenu{
    color: #F2F2F2;
    font-size: 14px;
    cursor: pointer;
    height: 50px;
    line-height: 50px;
    text-align: center;
    width: 100%;
    margin-bottom: 0;
    border-bottom: 1px solid #1b364d;
    float: left;
}
.menu_list ul li .xiala{
    float: left;
    margin-left: -60px;
    margin-top: 22px;
}
.menu_list ul li .div1 {
    width: 100%;
    height: auto;
    float: left;
}
.menu_list ul li .div1 .zcd{
    color: #869fb1;
    font-size: 14px;
    height: 50px;
    background-color: #052846;
    margin-bottom: 1px;
    cursor: pointer;
    line-height: 50px;
    text-align: center;
    width: 100%;
}
.div1 {

    display: none;
}
.menu_list ul li .div1 .zcd:hover{ color: #FFF; background-color: #dc7e0c; }
.removes{
    color: #fff !important;
    border-left: 3px solid #3999f4;
    background: #dc7e0c !important;
}