/*弹窗样式 - sta*/
body .layer-ext-yourskin .layui-layer-title {
    background-color: #062643;
    color: #ffffff;
    border-bottom: 1px solid #173756;
}

body .layer-ext-yourskin .layui-layer-content {
    background-color: #062643;
    color: #ffffff;
}

body .layer-ext-yourskin .layui-layer-btn {
    background-color: #062643;
}

body .layer-ext-yourskin .layui-layer-btn0 {
    background-color: #337ab7;
}

body .layer-ext-yourskin .layui-layer-ico {
    background: url(../img/clo.png) no-repeat;
}

.model-dis {
    display: none;
    height: 100%
}

/*user - add - sta*/
.model-style {
    padding: 30px 15px 0;
}

.user-add-div {
    margin-bottom: 20px;
}

.user-add-label {
    line-height: 34px;
    padding-right: 2%;
    width: 18%;
    text-align: right;
    margin: 0;
    font-weight: 500;
}

.user-add-div-div {
    width: 80%;
    display: inline-block;
}

.user-add-but-div {
    text-align: center;
    margin-top: 30px;
}

.user-add-popup {
    background-color: #062643;
}

/*用户绑定角色*/
.roleList-table {
    width: 100%;
    font-size: 13px;
}

.roleList-commit-div {
    text-align: center;
    margin-top: 30px;
}

.td-border-bottom{
    color: #ffffff;
}

.td-border-bottom:hover {
    border-bottom: 1px #ffffff solid;
}

