body{
    color: #fff;
}
.header{
    width:100%;
    height: 30px;
    line-height: 30px;
}
.header-content{
    float: left;
    position: absolute;
    left: 20px;
    font-size: 17px;
}
.qm_b{
    width:100%;
    margin: 10px 20px;
}
.query{
    width:100%;
    margin: 20px;
}
.data{
    width:100%;
    height: 75%;
}


/*楼层墙壁样式*/
.qm_to td{
    height:36px;
}/*中间箭头所在表单高度*/
.qm_tt td{
    height:50px;
}
.qm_lc_b{
    width: 40px;
    text-align: center;
}
.qm_r{
    width: 30px;
    text-align: center;
}
/*楼层所在表单高度*/
.lc_b{
    width:80px;
    height:50px;
    /*line-height:48px;*/
    text-align:center;
    float:left;
    cursor:pointer;
    border-radius:10px 10px;
}/*楼层样式*/
.stya{
    color:rgba(0,0,0,0);
    filter: alpha(opacity=0);/*IE8图层隐藏*/
}/*楼层隐藏*/
.styc{
    background-image:url(../img/styc.png);
    color:#fff;
}/*楼层点击效果*/
.styb{
    background-image:url(../img/styb.png);
    color:#333;
}/*楼层初始效果*/
.styb:hover{
    background-image:url(../img/styc.png);
    color:#fff;
}/*楼层高亮效果*/
.r{
    background-image:url(../img/r.png);
    height:32px;
    width:32px;
    margin:0 2px;
}/*方向：向右*/
/*箭头消失直接删除当前箭头的class样式*/