html, body {
    font-size: 13px;
    padding: 0;
    margin: 0;
    border: 0;
    font-family: '微软雅黑';
    /*background: #e7e8eb;*/
    height: 100%;
}

.table {
    border: 1px solid #ccc;
}

.table.table-bordered > tbody > tr > td, .table.table-bordered > tbody > tr > th, .table.table-bordered > tfoot > tr > td, .table.table-bordered > tfoot > tr > th, .table.table-bordered > thead > tr > td, .table.table-bordered > thead > tr > th {
    font-size: 14px;
}

.btn {
    font-size: 13px;
}

.main_container {
    margin: 0 auto;
    width: 100%;
    padding: 0;
    min-width: 1200px;
}

.panel-heading {
    font-size: 14px
}

.table-style {
    height: 83%;
    width: 100%;
    background: #fff;
    border: 1px solid #ddd;
}

.table-style-padding {
    height: 100%;
    padding: 2%;
}

.fixed-table-toolbar {
    height: 35px
}

.x_content {
    margin-top: 15px
}

.search-btn {
    margin-right: 35px;
    float: right
}

th {
    text-align: center;
}

.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
    vertical-align: middle;
}

.table.table-bordered > tbody > tr > td, .table.table-bordered > tbody > tr > th, .table.table-bordered > tfoot > tr > td, .table.table-bordered > tfoot > tr > th, .table.table-bordered > thead > tr > td, .table.table-bordered > thead > tr > th {
    padding: 8px;
}

.query-criteria {
    margin: 0;
    border-bottom: none;
    height: 17%;
}

.query-criteria-name {
    float: left;
    line-height: 34px;
    margin: 0 10px 0 30px;
}

.query-criteria-input {
    width: 20%;
    float: left;
}

.table > thead > tr > th {
    vertical-align: middle;
    text-align: center;
    padding: 10px 0;
}

.table > tbody > tr > td {
    vertical-align: middle;
    text-align: center;
    padding: 5px 0;
}

.table > tbody > tr > td.table-td-content {
    vertical-align: middle;
    padding: 5px 0;
    text-align: left;
    text-indent: 20px;
}

.paging-table-div {
    right: 10px;
    height: 35px;
    bottom: 30px;
    margin-right: 20px;
    position: absolute;
}