<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiaoke.app.dao.AppServiceDao">
    <select id="selectProgectByProgresAndproStatus" resultType="java.util.Map">
        SELECT
            pm.id,
            pm.pro_name,
            pt.type_name,
            pm.pro_schedule,
            pm.pro_num,
            pm.pro_name,
            pm.governor_unit,
            pm.governor_unit_phone,
                pm.construction_unit,
            pm.construction_unit_phone,
            pm.supervisor_unit,
            pm.supervisor_unit_phone,
            pm.pro_summarize
        FROM
            project_message AS pm
        INNER JOIN project_type AS pt ON pm.pro_type = pt.id
        <choose>
            <when test="progress > 2">

            </when>
            <otherwise>
                WHERE
                pm.pro_schedule = #{progress}
            </otherwise>
        </choose>




    </select>

    <select id="selectProLocationsByIdList" resultType="java.util.Map">
        SELECT
            pro_id AS proId,
            longitude,
            latitude
        FROM
            project_location
        WHERE
            pro_id IN 
            <foreach collection="idList" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
    </select>
</mapper>