<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiaoke.web.dao.LogManagerDao">

    <select id="selectLogDataCount" resultType="_int" >
        SELECT COUNT(*) FROM cone_bucket_log;
    </select>

    <select id="selectLogDataByLimte" resultType="com.jiaoke.bean.LogMessage">
        SELECT
            CBL.id,
            CBL.cone_bucket_num AS coneBucketNum,
            CBT.type_name AS coneBucketName,
            CBL.cone_bucket_type AS coneBucketType,
            CBL.cone_bucket_status AS coneBucketStatus,
            CBL.road_name AS roadName,
            CBL.start_time AS startTime,
            CBL.end_time AS endTime
        FROM
            `cone_bucket_log` AS CBL
        INNER JOIN
            cone_bucket_type AS CBT
        ON CBL.cone_bucket_type = CBT.id
        ORDER BY id DESC
        LIMIT #{pageFirstNum},#{eachPageDataNum};
    </select>

</mapper>