<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiaoke.web.dao.RoleInfoMapper">

    <select id="fuzzyQueryByRoleName" parameterType="java.lang.String" resultType="com.jiaoke.bean.RoleInfo">
        select
            id, role_name as roleName, description, create_time as createTime
        from role_info
        where role_name LIKE "%"#{roleName}"%"
    </select>

    <select id="selectByUserId" parameterType="java.lang.Integer" resultType="com.jiaoke.bean.RoleInfo">
        SELECT
            ri.id, ri.role_name as roleName
        FROM
            `role_info` AS ri
            LEFT JOIN user_role AS ur ON ri.id = ur.role_info_id
            LEFT JOIN user_info AS uri ON ur.user_info_id = uri.id
        WHERE
            uri.id = #{userId}
    </select>
</mapper>