* {
    font-size: 13px;
    padding: 0;
    margin: 0;
    border: 0;
    font-family: '微软雅黑';
}

body {
    background: #e7e8eb;
    width: 90%;
    margin: 0 auto;
}

.table {
    border: 1px solid #ccc;
}

.table.table-bordered > tbody > tr > td, .table.table-bordered > tbody > tr > th, .table.table-bordered > tfoot > tr > td, .table.table-bordered > tfoot > tr > th, .table.table-bordered > thead > tr > td, .table.table-bordered > thead > tr > th {
    border: 1px solid #ccc;
    font-size: 13px;
}

.btn {
    font-size: 13px;
}

.main_container {
    margin: 0 auto;
    width: 100%;
    padding: 0
}

.panel-heading {
    font-size: 14px
}

.table-style {
    width: 100%;
    background: #fff;
    border: 1px solid #ddd;
}

.table-style-padding {
    padding: 10px;
    min-height: 500px
}

.fixed-table-toolbar {
    height: 35px
}

.x_content {
    margin-top: 15px
}

.search-btn {
    margin: 0 20px 0 0;
    float: right
}

th {
    text-align: center;
}

.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
    vertical-align: middle;
}

.table.table-bordered > tbody > tr > td, .table.table-bordered > tbody > tr > th, .table.table-bordered > tfoot > tr > td, .table.table-bordered > tfoot > tr > th, .table.table-bordered > thead > tr > td, .table.table-bordered > thead > tr > th{
    padding: 8px;
}
