html, body {
    font-size: 13px;
    padding: 0;
    margin: 0;
    border: 0;
    font-family: '微软雅黑';
    background: #e7e8eb;
    height: 100%;
}

.table {
    border: 1px solid #ccc;
}

.table.table-bordered > tbody > tr > td, .table.table-bordered > tbody > tr > th, .table.table-bordered > tfoot > tr > td, .table.table-bordered > tfoot > tr > th, .table.table-bordered > thead > tr > td, .table.table-bordered > thead > tr > th {
    font-size: 13px;
}

.btn {
    font-size: 13px;
}

.main_container {
    margin: 0 auto;
    width: 100%;
    padding: 0
}

.query-criteria {
    height: 16%;
    margin: 0;
    border: 0;
}

.panel-heading {
    font-size: 14px
}

.table-style {
    width: 100%;
    background: #fff;
    border: 1px solid #ddd;
    height: 83%;
}

.table-style-padding {
    padding: 2%;
    height: 100%;
}

.fixed-table-toolbar {
    height: 35px
}

.x_content {
    margin-top: 15px
}

.search-btn {
    margin-right: 35px;
    float: right
}

th {
    text-align: left;
}

.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
    vertical-align: middle;
}

.table.table-bordered > tbody > tr > td, .table.table-bordered > tbody > tr > th, .table.table-bordered > tfoot > tr > td, .table.table-bordered > tfoot > tr > th, .table.table-bordered > thead > tr > td, .table.table-bordered > thead > tr > th{
    padding: 13px;
}

.table-bordered>thead>tr>td, .table-bordered>thead>tr>th{
    border: 0;
}
.table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th{
    border: 0;
    border-top: 1px solid #ddd;
}