<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiaoke.web.dao.ConeBarrelManageMapper">

    <select id="selectAllDeviceId" resultType="com.jiaoke.bean.ConeBarrelManage">
        SELECT
            device_id as deviceId
        FROM
            `cone_barrel_manage`
    </select>

    <select id="selectByProId" parameterType="java.lang.Integer" resultType="com.jiaoke.bean.ConeBarrelManage">
        SELECT
            cbm.id,
            cbm.battery_power_remain as batteryPowerRemain,
            cbm.create_time AS createTime,
            cbm.device_id AS deviceId,
            cbm.device_version AS deviceVersion,
            cbm.key_state AS keyState,
            cbm.last_report_time AS lastReportTime,
            cbm.lat,
            cbm.lng,
            cbm.modified_time AS modifiedTime,
            cbm.off_stat AS offStat,
            cbm.online_switch AS onlineSwitch,
            cbm.open_time AS openTime,
            cbm.orient,
            cbm.road_type AS roadType,
            cbm.source_id sourceId,
            cbm.state_flag AS stateFlag,
            cbm.team,
            cpt.type_name as servicePlatform
        FROM
            `cone_barrel_manage` AS cbm
            LEFT JOIN project_barrel AS pcb ON cbm.device_id = pcb.cone_barrel_id
            LEFT JOIN cone_bucket_type AS cpt ON cbm.service_platform = cpt.id
        WHERE
            pcb.pro_id = #{proId}
        ORDER BY
	        cbm.device_id ASC
    </select>
</mapper>