<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiaoke.web.dao.PermissionMapper">

    <select id="fuzzyQueryByDescription" parameterType="java.lang.String" resultType="com.jiaoke.bean.Permission">
        select
            id, url, description
        from permission
        where description LIKE "%"#{description}"%"
    </select>

    <select id="selectByRoleId" parameterType="java.lang.Integer" resultType="com.jiaoke.bean.Permission">
        SELECT
            per.id,
            per.url,
            per.description
        FROM
            `permission` AS per
            LEFT JOIN role_permission AS rp ON per.id = rp.permission_id
            LEFT JOIN role_info AS ri ON ri.id = rp.role_id
        WHERE
            ri.id = #{roleId}
    </select>

    <select id="getPermissionsByUserInfoId" parameterType="java.lang.Integer" resultType="com.jiaoke.bean.Permission">
        SELECT
        per.id,
        per.url,
        per.description
        FROM
        permission AS per
        LEFT JOIN role_permission AS rp ON per.id = rp.permission_id
        LEFT JOIN role_info AS ri ON rp.role_id = ri.id
        LEFT JOIN user_role AS ur ON ri.id = ur.role_info_id
        LEFT JOIN user_info AS ui ON ur.user_info_id = ui.id
        WHERE
        ui.id = #{userInfoId}
    </select>
</mapper>