<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiaoke.web.dao.ProjectLocationMapper">

    <insert id="insertByBatch" parameterType="com.jiaoke.bean.ProjectLocation">
        insert into project_location(pro_id,longitude,latitude)
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.proId}, #{item.longitude},#{item.latitude})
        </foreach>
    </insert>

    <select id="selectByProId" parameterType="java.lang.Integer" resultType="com.jiaoke.bean.ProjectLocation">
        select  id, pro_id as proId, longitude, latitude from  project_location where pro_id = #{proId}
    </select>

    <delete id="deleteByProId" parameterType="java.lang.Integer">
        delete from  project_location where pro_id = #{proId}
    </delete>
</mapper>