<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiaoke.web.dao.ProjectLogMapper">

    <select id="selectAllData" resultType="com.jiaoke.bean.ProjectLog">
        SELECT
            id,
            log_type as logType,
            log_content as logContent,
            operation_user as operationUser,
            operation_time as operationTime,
            state
        FROM
            project_log
        GROUP BY
            operation_time DESC
    </select>

</mapper>